#botao-4{
    color: black;
    background-color: white;
    border: 2px solid mediumvioletred;
    transition: all 0.2s linear;
}

#botao-4:hover{
    transform: translateY(-4px) translateX(-1px);
    box-shadow: 2px 5px 0 0 mediumvioletred;
}